/* Reset some styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  background-color: #f2555b;
  perspective: 1000px;
}

.home-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  overflow: hidden;
}

.ignus-logo {
  position: fixed;
  left: 35vw;
  top: 10vh;
  z-index: 100;
  width: 30%;
  height: auto;
}

.ignus-logo img {
  width: 100%;
  height: 100%;
}

.layer-1 {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20vh;
  width: 100%;
}

.layer-1 img {
  width: 100%;
  height: 100%;
}

.mobile-screen {
  display: none;
}

.layer-2 {
  position: fixed;
  left: 0;
  bottom: 5vh;
  height: 30vh;
  width: 100%;
}

.layer-2 img {
  width: 100%;
  height: 100%;
}

.layer-3 {
  position: fixed;
  left: 0;
  bottom: 6vh;
  height: 30vh;
  width: 100%;
}

.layer-3 img {
  width: 100%;
  height: 100%;
}

.layer-4 {
  position: fixed;
  left: 0;
  bottom: 11vh;
  height: 30vh;
  width: 100%;
}

.layer-4 img {
  width: 100%;
  height: 100%;
}

.layer-5 {
  position: fixed;
  left: 0;
  bottom: 21vh;
  height: 30vh;
  width: 100%;
}

.layer-5 img {
  width: 100%;
  height: 100%;
}

.sun-layer {
  position: fixed;
  left: 50%;
  bottom: -500px;
  height: 100vh;
  width: 100vw;
  transform: translateX(-50%);
  animation: rise 5s forwards ease-out;
  animation-delay: 2.5s;
}

.sun-layer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camel-1 {
  width: 100vw;
  z-index: 1000;
}

.camel-1 img {
  width: 7%;
  position: fixed;
  left: 50%;
  bottom: 35vh;
}

.camel-2 {
  width: 100vw;
  z-index: 1000;
}

.camel-2 img {
  transform: rotate(2.14deg);
  width: 6%;
  position: fixed;
  left: 44%;
  bottom: 34vh;
}

.group-3 {
  width: 100%;
  z-index: 1000;
}

.group-3 img {
  position: fixed;
  left: 60%;
  bottom: 38vh;
  width: 6%;
}

.group-16 {
  width: 100%;
  z-index: 1000;
}

.group-16 img {
  position: fixed;
  left: 75%;
  bottom: 45vh;
  width: 6%;
}

.group-13 {
  width: 100%;
  z-index: 1000;
}

.group-13 img {
  position: fixed;
  left: 10%;
  bottom: 15vh;
  width: 10%;
}

.group-21 {
  width: 100%;
  z-index: 1000;
}

.group-21 img {
  position: fixed;
  left: 55%;
  bottom: 23vh;
  width: 5%;
}

.group-10 {
  width: 100%;
  z-index: 1000;
}

.group-10 img {
  position: fixed;
  left: 90%;
  bottom: 12vh;
  width: 6%;
}

.group-8 {
  width: 100%;
  z-index: 998;
}

.group-8 img {
  position: fixed;
  left: 80%;
  bottom: 20vh;
  width: 20%;
}

.group-9 {
  width: 100%;
  z-index: 999;
}

.group-9 img {
  position: fixed;
  left: 92%;
  bottom: 20vh;
  width: 8%;
}

.group-18 {
  width: 100%;
  z-index: 1000;
}

.group-18 img {
  position: fixed;
  left: 27%;
  bottom: 27vh;
  width: 15%;
  transform: rotate(-6deg);
}

.ignus-date {
  position: fixed;
  left: 40%;
  top: 25vh;
  z-index: 100;
  width: 20%;
  height: auto;
}

.ignus-date img {
  width: 100%;
  height: 100%;
}

.coming-soon {
  position: fixed;
  left: 30%;
  top: 15%;
  z-index: 100;
  width: 40%;
  height: auto;
}

.coming-soon img {
  width: 100%;
}

.coming-soon,
.ignus-logo,
.ignus-date, .get-ready {
  opacity: 0;
}

.coming-soon {
  animation: fadeOut 2.5s forwards;
}

.ignus-logo,
.ignus-date, .get-ready {
  animation: fadeIn 2.5s forwards;
  animation-delay: 2.5s;
}

.moon {
  position: fixed;
  left: 85%;
  top: 5%;
  height: 20vh;
  width: 100vw;
  z-index: -1000;
  animation: moon-down 2.5s forwards ease-in;
  animation-delay: 0s;
}

.moon img {
  height: 100%;
}

.get-ready{
  position: fixed;
  bottom: 2%;
  z-index: 100;
  width: 100%;
  height: auto;
}

.get-ready img {
  width: 30%;
  margin-left: 35%;
}

@keyframes fadeOut {
  0%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20%,
  100% {
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: 15vh;
  }
}

@keyframes moon-down {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(45vh);
  }
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow: hidden;
    background-color: #f2555b;
    perspective: 1000px;
  }

  .home-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
  }

  .desktop-screen {
    display: none;
  }

  .mobile-screen {
    display: block;
  }

  .layer-1 {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 100%;
    z-index: 1111;
  }

  .layer-1 img {
    width: auto;
    height: 100%;
  }

  .layer-2 {
    position: fixed;
    left: 0;
    bottom: 5vh;
    height: 30vh;
    width: 100%;
  }

  .layer-2 img {
    width: auto;
    height: 100%;
  }

  .layer-3 {
    position: fixed;
    left: 0;
    bottom: 6vh;
    height: 25vh;
    width: 100%;
  }

  .layer-3 img {
    width: auto;
    height: 100%;
  }

  .layer-4 {
    position: fixed;
    left: 0;
    bottom: 20vh;
    height: 20vh;
    width: 100%;
  }

  .layer-4 img {
    width: auto;
    height: 100%;
  }

  .layer-5 {
    position: fixed;
    left: 0;
    bottom: 21vh;
    height: 30vh;
    width: 100%;
  }

  .layer-5 img {
    width: auto;
    height: 100%;
  }

  .sun-layer {
    position: fixed;
    left: 50vw;
    bottom: -500px;
    height: 70vh;
    width: 100vw;
    transform: translateX(-50%);
    animation: rise 2.5s forwards ease-out;
    animation-delay: 2.5s;
  }

  .sun-layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .camel-1 {
    width: 100vw;
    z-index: 1000;
  }

  .camel-1 img {
    width: 25%;
    position: fixed;
    left: 55%;
    bottom: 36vh;
  }

  .camel-2 {
    width: 100vw;
    z-index: 1000;
  }

  .camel-2 img {
    transform: rotate(2.14deg);
    width: 20%;
    position: fixed;
    left: 35%;
    bottom: 36vh;
  }

  .group-3 {
    width: 100%;
    z-index: 1000;
  }

  .group-3 img {
    position: fixed;
    left: 80%;
    bottom: 37vh;
    width: 20%;
  }

  .group-16 {
    width: 100%;
    z-index: 1;
  }

  .group-16 img {
    position: fixed;
    left: 10%;
    bottom: 38vh;
    width: 15%;
  }

  .group-13 {
    width: 100%;
    z-index: 1000;
  }

  .group-13 img {
    position: fixed;
    left: 10%;
    bottom: 18vh;
    width: 20%;
  }

  .group-21 {
    width: 100%;
    z-index: 997;
  }

  .group-21 img {
    position: fixed;
    left: 55%;
    bottom: 20vh;
    width: 20%;
  }

  .group-10 {
    width: 100%;
    z-index: 1000;
  }

  .group-10 img {
    position: fixed;
    left: 75%;
    bottom: 12vh;
    width: 15%;
  }

  .group-8 {
    width: 100%;
    z-index: 998;
  }

  .group-8 img {
    position: fixed;
    left: 60%;
    bottom: 15vh;
    width: 40%;
  }

  .group-9 {
    width: 100%;
    z-index: 999;
  }

  .group-9 img {
    position: fixed;
    left: 85%;
    bottom: 15vh;
    width: 15%;
  }

  .group-18 {
    width: 100%;
    z-index: 1000;
  }

  .group-18 img {
    position: fixed;
    left: 27%;
    bottom: 27vh;
    width: 30%;
    transform: rotate(-6deg);
  }

  .ignus-date {
    position: fixed;
    left: 10%;
    top: 25vh;
    z-index: 100;
    width: 80%;
    height: auto;
  }

  .ignus-date img {
    width: 100%;
    height: 100%;
  }

  .ignus-logo {
    position: fixed;
    left: 5%;
    top: 10vh;
    z-index: 100;
    width: 90%;
    height: auto;
  }

  .ignus-logo img {
    width: 100%;
    height: 100%;
  }

  .coming-soon {
    position: fixed;
    left: 5%;
    top: 25%;
    z-index: 100;
    width: 90%;
    height: auto;
  }

  .coming-soon img {
    width: 100%;
  }

  .moon {
    position: fixed;
    left: 55%;
    top: 25%;
    height: 20vh;
    width: 100vw;
    z-index: -1000;
    animation: moon-down 2.5s forwards ease-in;
    animation-delay: 0s;
  }
  
  .moon img {
    height: 100%;
  }

  .get-ready{
    position: fixed;
    bottom: 0%;
    z-index: 1112;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-ready img {
    height:30%;
    width: auto;
    margin: 0;
 }

  

  @keyframes rise {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 24vh;
    }
  }
}



@media (min-width:768px) and (max-width: 1024px) {

  .desktop-screen {
    display: none;
  }

  .mobile-screen {
    display: block;
  }

  .layer-1 {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25vh;
    width: 100%;
    z-index: 1111;
  }

  .layer-1 img {
    width: auto;
    height: 100%;
  }

  .layer-2 {
    position: fixed;
    left: 0;
    bottom: 10vh;
    height: 25vh;
    width: 100%;
  }

  .layer-2 img {
    width: auto;
    height: 100%;
  }

  .layer-3 {
    position: fixed;
    left: 0;
    bottom: 10vh;
    height: 25vh;
    width: 100%;
  }

  .layer-3 img {
    width: auto;
    height: 100%;
  }

  .layer-4 {
    position: fixed;
    left: 0;
    bottom: 20vh;
    height: 25vh;
    width: 100%;
  }

  .layer-4 img {
    width: auto;
    height: 100%;
  }

  .layer-5 {
    position: fixed;
    left: 0;
    bottom: 26vh;
    height: 25vh;
    width: 100%;
  }

  .layer-5 img {
    width: auto;
    height: 100%;
  }

  .sun-layer {
    position: fixed;
    left: 50vw;
    bottom: -400px;
    height: 70vh;
    width: 100vw;
    transform: translateX(-50%);
    animation: rise 2.5s forwards ease-out;
    animation-delay: 2.5s;
  }

  .sun-layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .camel-1 {
    width: 100vw;
    z-index: 1000;
  }

  .camel-1 img {
    width: 14%;
    position: fixed;
    left: 55%;
    bottom: 40vh;
  }

  .camel-2 {
    width: 100vw;
    z-index: 1000;
  }

  .camel-2 img {
    transform: rotate(-2.14deg);
    width: 12%;
    position: fixed;
    left: 43%;
    bottom: 39vh;
  }

  .group-3 {
    width: 100%;
    z-index: 500;
  }

  .group-3 img {
    position: fixed;
    left: 85%;
    bottom: 37vh;
    width: 12%;
  }

  .group-16 {
    width: 100%;
    z-index: 1;
  }

  .group-16 img {
    position: fixed;
    left: 10%;
    bottom: 40vh;
    width: 10%;
  }

  .group-13 {
    width: 100%;
    z-index: 500;
  }

  .group-13 img {
    position: fixed;
    left: 10%;
    bottom: 24vh;
    width: 10%;
  }

  .group-21 {
    width: 100%;
    z-index: 997;
  }

  .group-21 img {
    position: fixed;
    left: 55%;
    bottom: 25vh;
    width: 10%;
  }

  .group-10 {
    width: 100%;
    z-index: 1000;
  }

  .group-10 img {
    position: fixed;
    left: 80%;
    bottom: 15vh;
    width: 12%;
  }

  .group-8 {
    width: 100%;
    z-index: 998;
  }

  .group-8 img {
    position: fixed;
    left: 70%;
    bottom: 20vh;
    width: 30%;
  }

  .group-9 {
    width: 100%;
    z-index: 999;
  }

  .group-9 img {
    position: fixed;
    left: 85%;
    bottom: 20vh;
    width: 15%;
  }

  .group-18 {
    width: 100%;
    z-index: 1000;
  }

  .group-18 img {
    position: fixed;
    left: 50%;
    bottom: 27vh;
    width: 20%;
    transform: rotate(-3deg);
  }

  .ignus-date {
    position: fixed;
    left: 15%;
    top: 28vh;
    z-index: 100;
    width: 70%;
    height: auto;
  }

  .ignus-date img {
    width: 100%;
    height: 100%;
  }

  .ignus-logo {
    position: fixed;
    left: 10%;
    top: 10vh;
    z-index: 100;
    width: 80%;
    height: auto;
  }

  .ignus-logo img {
    width: 100%;
    height: 100%;
  }

  .coming-soon {
    position: fixed;
    left: 10%;
    top: 25%;
    z-index: 100;
    width: 80%;
    height: auto;
  }

  .coming-soon img {
    width: 100%;
  }

  .moon {
    position: fixed;
    left: 65%;
    top: 25%;
    height: 20vh;
    width: 100vw;
    z-index: -1000;
    animation: moon-down 2.5s forwards ease-in;
    animation-delay: 0s;
  }

  .moon img {
    height: 100%;
  }

  .get-ready{
    position: fixed;
    bottom: 0%;
    z-index: 1112;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-ready img {
    height:40%;
    width: auto;
    margin: 0;
 }



  @keyframes rise {
    0% {
      bottom: -400px;
    }
    100% {
      bottom: 23vh;
    }
  }



  
}