/* Reset some styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling during loading and transition */
}



/* Loader screen */
#loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6d2b1a; /* Background during loading */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Circular loader */
.loader {
  /* width: 50px;
  height: 50px; */
  width: auto;
  height: auto;
  border-radius: 50%;
  background-image: url("/public/timer.gif");
  z-index: 10000;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Ripple mask */
#ripple-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  z-index: 9998;
  overflow: hidden;
}

#ripple-mask::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: #f2555b; /* Ripple color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple-effect 2s ease-out forwards;
}

@keyframes ripple-effect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

/* Main page content */
.main-page {
  position: relative; /* Ensure it's above the wave and loading screen */
  opacity: 0; /* Start fully transparent */
  animation: fade-in 1s ease-in-out 0s forwards; /* Fade in after wave animation ends */
  z-index: 1002; /* Above all animations */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
